@import url('https://fonts.googleapis.com/css2?family=Goldman&family=Pathway+Extreme:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Goldman&family=Pathway+Extreme:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

body {
  background-color: var(--main-color);
  font-family: 'Goldman', sans-serif; 
  text-transform: uppercase;
}


* {
  margin: 0;
  padding: 0;
}


:root {
  --main-color: #C3D1E2;
  --white-color: #FFFFFF;
  --black-color: #000000;
}


.banner {
  position: relative;
  width: 100%;
}


.header-foto {
  width: 100%;
  height: auto;
  display: block;
}
  

.overlay {
  position: absolute;
  top: 12%;
  left: 62%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-bottom: 30px;
  width: 400px;

  p {
    text-align: start;
    font-size: 1em;

    a {
    color: var(--black-color);
    text-decoration: none;
  }
  }

  h1 {
  display: flex;
  font-size: 3.5em;

  a {
    color: var(--black-color);
    text-decoration: none;
  }
  }
}


.knoppen {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  padding: 1em;
  margin: 0.4em 0.4em 1em 0.4em;

  a {
    display: block;
    width: 9em;
    background-color: var(--white-color); 
    color: var(--black-color); 
    padding: 1em 1.3em 1em 1.3em; 
    border-radius:210px; 
    margin: 10px auto;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
  }

    a:hover {
      background-color: var(--black-color);
      color: var(--white-color);

  }

  /* knop is zwart omdat je op bijnaam pagina zit */
  .bijnaam {
    background-color: var(--black-color);
    color: var(--white-color);
  }
}

.filter-bijnaam {
  display: flex;
  justify-content: center;
  gap: 3em;
  margin-bottom: 2em;
  font-size: 1em;

  a {
    color: var(--black-color);
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}


.mugshots {
  display: flex;
  flex-direction: column;
  gap: 3em;
  align-items: center;
}


.polaroid {
  background: var(--white-color);
  padding: 1em 1em 1em 1em;
  box-shadow: 0 10px 20px rgba(0,0,0,0.25);

  img {
    width: 250px;    
    height: 280px;    
    object-fit: cover; /* zorgt ervoor dat de foto goed blijft en niet raar schaalt; */
  }
}


h2 {
  text-align: center;
  margin-top: 1em;
  font-family: 'Gloria Hallelujah', sans-serif; 
  font-size: 1.2em;
}

