@import url('https://fonts.googleapis.com/css2?family=Goldman&family=Pathway+Extreme:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Goldman&family=Pathway+Extreme:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

body {
  background-color: var(--main-color);
  font-family: 'Goldman', sans-serif; 
  text-transform: uppercase;
}


* {
  margin: 0;
  padding: 0;
}


:root {
  --main-color: #E2C3C3;
  --white-color: #FFFFFF;
  --black-color: #000000;
}


.banner {
  position: relative;
  width: 100%;
}


.header-foto {
  width: 100%;
  height: auto;
  display: block;

  @media (width > 800px) {
      height: 220px;
  }

  @media (width > 1100px) {
    height: 300px;
    object-fit: cover;
  }
}
  

.overlay {
  position: absolute;
  top: 12%;
  left: 62%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-bottom: 30px;
  width: 400px;

  @media (width > 800px) {
    top: 11%;
    left: 52%;
  }

  @media (width > 1100px) {
    top: 18%;
    left: 52%;
  }
  
  p {
    text-align: start;
    font-size: 1em;

    @media (width > 800px) {
      font-size: 1.5em;
    }

    a {
      color: var(--black-color);
      text-decoration: none;
    }
  }

  h1 {
  display: flex;
  font-size: 3.5em;

  @media (width > 800px) {
    font-size: 4.6em;
  }

  a {
    color: var(--black-color);
    text-decoration: none;
  }
  }
}


.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  padding: 1em;
  margin: 0.4em 0.4em 1em 0.4em;

  @media (width > 800px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 1.4em 1.4em 1.6em 1.4em;
  }

   @media (width > 1100px) {
    font-size: 2em;
    margin: 1.2em 1em 1.4em 1em;
    padding: 0.1em;
  }

  a {
    display: block;
    width: 9em;
    background-color: var(--white-color); 
    color: var(--black-color); 
    padding: 1em 1.3em 1em 1.3em; 
    border-radius:210px; 
    margin: 10px auto;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;

    @media (width > 1100px) {
      width: 16em;
    }
  }

    a:hover {
      background-color: var(--black-color);
      color: var(--white-color);

  }
}


.mugshots {
  display: flex;
  flex-direction: column;
  gap: 3em;
  align-items: center;

  @media (width > 800px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    flex-direction: column;
    gap: 0em;
  }

  @media (width > 1100px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-left: 1.7em;
    margin-right: 1.7em;
  }

  a {
    color: var(--black-color);
    text-decoration: none;

    &:hover {
      text-decoration: underline;    
    }
   }
}


.polaroid {
  background: var(--white-color);
  padding: 1em 1em 1em 1em;
  box-shadow: 0 10px 20px rgba(0,0,0,0.25);

  @media (width > 800px) {
    margin-bottom: 3em;
  }

  img {
    width: 250px;    
    height: 280px;    
    object-fit: cover; /* zorgt ervoor dat de foto goed blijft en niet raar schaalt; */
  }
}


h2 {
  text-align: center;
  margin-top: 0.5em;
  font-family: 'Gloria Hallelujah', sans-serif; 
  font-size: 1.2em;
}

