{% render 'partials/headbijnaam.liquid', title: 'Squad page' %}

<header>

  <div class="banner">
  <img class="header-foto" src="/assets/images/header-foto.png" alt="header-foto" width=2000>
  </div>

  <div class="overlay">
    <p><a href="/index1i">Squad 1I</a></p>
    <h1><a href="/">Squad 1J</a></h1>
  </div>
</header>

<main>

  <div class="knoppen">
    <a href="/favorietseizoen" class="favoriet-seizoen">Favoriet seizoen</a>
    <a href="/favorietedier" class="favoriete-dier">Favoriete dier</a>
    <a href="/verjaardag" class="verjaardag">Verjaardag</a>
    <a href="/bijnaam" class="bijnaam">Bijnaam</a> 
  </div>


  <div class="filter-bijnaam">
    <a href="/z-a">A-Z</a> 
    <a href="/a-z">Z-A</a>
  </div>


  <article class="mugshots">
    {% for person in persons %}

      <figure class="polaroid">
        {% comment %} if is de eerste foto die hij pakt en als die niet bestaat pakt hij de else foto {% endcomment %}
        {% if person.mugshot %}
            <img src="https://fdnd.directus.app/assets/{{ person.mugshot }}?width=500" alt="Profile picture">
        {% else %}
            <img src="/assets/images/else-foto.jpg" width=500 alt="Profile picture">
        {% endif %}

        {% comment %} if is de eerste tekst die hij pakt en als die niet bestaat pakt hij de else tekst {% endcomment %}
        {% if person.nickname %}
            <h2>{{ person.nickname }}</h2>
        {% else %}
            <h2>?</h2>
        {% endif %}
      </figure>

    {% endfor %}   
  </article>

</main>

{% render 'partials/foot.liquid', squads: squads %}